html {
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, #CACFD6, #D5DCE5, #A0B7D8, #506075, #182333);
	background-size: 500% 500%;
	-webkit-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

body {
  align-items: center;

}

.middle {
  display: flex;
  flex-direction: column;
	margin-top: 150px;
}

.btn {
	width: 400px;
	height: 100px;
	cursor: pointer;
	font-size: 50px;
	font-weight: 500;
  font-family: helvetica;
	margin-bottom: 10px;
	vertical-align: middle;
	background-color: #CACFD6;
}

a:link, a:visited
{
	text-decoration: none;
	color: Black;
}
